.parent{
    width: 350px !important;
    background-color: grey;
    border-radius: 20px;
    

    #panel{
        width: 90%;
        border: 5px solid lightgrey;
        background-color: papayawhip;
        height: 100px;
        margin: auto;
        border-radius: 7px;
    }
    .keys1{
        
        button{
            color: white;
            background-color: black;
            margin-top: 7px;
            width: 13%;
            padding: 7px 5px; 
            border: none;
            border-radius: 7px;
            
        }
        .box{
            width: 3px;
            height: 3px;
            color: white;
        }
    }
    .keys2{
        margin-top: 7px;
        padding-bottom: 30px;
        button{
            color: white;
            background-color: black;
            margin-top: 7px;
            width: 17%;
            padding: 7px 5px;
            border-radius: 7px;
            border: none;
        }
    }
}
@media(max-width:760px){
    .parent{
        width: 100% !important;
    }
}